.header {
    background-color: #009da6;
    position: relative;
    overflow: hidden;
    color: white;
}

.top-header__logo {
    color: white;
}


.header__menu .ant-menu {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 60%;
}


.right_color_block {
    width: 40%;
    position: absolute;
    right: 0;
    top: -20%;
    height: 140%;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
    background-color: #423b45;
}

.menu-header__item {
    background-color: white;
    padding: 10px 0;
    transition: all 0.3s ease 0s;
    text-align: center;
    color: #423b45;
}

.menu-header__item:hover {
    background-color: #423b45;
    color: white;
}


.fa-brands {
    color: white;
}