.how_it {
    background-image: url("homepage.webp");
    background-size: cover;
    background-attachment: fixed;

    color: #793e3e;
}

.how_it_text {

    font-size: 20px;
    font-weight:bold;
    color: #000000;
    /* -webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.52);
    -moz-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.52);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.52); */
    word-spacing: 2px;
    -webkit-text-shadow: 0px 1px 10px rgba(230,  216,  216, 0.43);
    -moz-text-shadow: 0px 1px 10px rgba(230,  216,  216, 0.43);
    text-shadow: 0px 1px 10px rgba(230, 216, 216, 0.43);

}

.how_it_h2 {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    -webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.52);
    -moz-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.52);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.52);
    /* text-shadow: 2px 2px 0 #0d0d0d, 2px -2px 0 #0d0d0d, -2px 2px 0 #0d0d0d, -2px -2px 0 #0d0d0d, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5; */
}